tickTime={{ zookeeper_tick_time }}
dataDir={{ item.data_dir }}
dataLogDir={{ item.log_dir }}
maxClientCnxns=60
initLimit={{ zookeeper_init_limit }}
syncLimit={{ zookeeper_sync_limit }}
{% if zookeeper_autopurge_purgeInterval > 0 %}
autopurge.purgeInterval={{ zookeeper_autopurge_purgeInterval }}
autopurge.snapRetainCount={{ zookeeper_autopurge_snapRetainCount }}
{% endif %}
clientPort={{ item.client_port }}
{% set ips = [] %}
{%- for host in groups[zookeeper_inventory_group] %}
{{- ips.append(dict(id=loop.index, host=host)) }}
{%- endfor %}
{% for server in ips %}
{% if server.host is defined %}
server.{{server.id}}={{server.host}}:{{item.server_port}}
{% endif %}
{% endfor %}
4lw.commands.whitelist=*



